.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


header {
    background-color: #f4f5f6;
    color: #9b4dca;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

main {
    flex: 1;
    padding: 2rem;
}

footer {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #6c757d;
    padding: 1rem 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clickable {
    cursor: pointer;
    text-decoration: none;
}

.clickable:hover {
    text-decoration: underline;
}

.app-header {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 3rem;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 6rem;
}

.app-title {
    font-size: 2.2rem;
    margin: 0;
    text-align: center;
    flex: 1;
}

.app-nav {
    display: flex;
    gap: 2rem;
}

.app-nav a {
    color: #606c76;
    text-decoration: none;
    font-size: 1.4rem;
}

.app-nav a.active {
    font-weight: 600;
    color: #9b4dca;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1.5rem;
}

.back-arrow {
    font-size: 1.3rem;
}

.back-button:hover {
    color: #9b4dca;
    border-color: #9b4dca;
    background: #f8f8f8;
}

.section-title {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.top-row {
  display: flex;
  gap: 20px;
}

.bottom-row .box {
  margin-top: 20px;
}
